body {
  margin: 0;
  min-width: 1440px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-template-areas:
      "navy navy navy navy"
      ". . green green"
      ". . green green"
      "yellow yellow green green";
  gap: 30px 15px;
  padding: 15px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.navy {
  min-height: 100px;
  background-color: navy;
  grid-area: navy;
}

.green {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "blue orange"
      "blue ."
      "blue red";
  background-color: green;
  grid-area: green;
  gap: 15px;
  padding: 15px;
  padding-top: 50px;
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  grid-area: blue;
  
}

.orange {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange; 
  grid-area: orange;
  height: 75px;
}

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 75px;
  grid-area: red;
  align-self: end;
}

.yellow  {
  background-color: yellow;
  min-height: 100px;
  grid-area: yellow;
}

@media (max-width: 700px){
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "navy navy navy"
        "green green green"
        "yellow yellow yellow";
  }

  .green {
    align-content:center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "blue . orange";
    padding-top: 15px;
  }

  .red {
    display: none;
  }
}

/*Доп стили для оформления*/
.menu {
  width: 1240px;
  margin: 0 auto;
  margin-top: 30px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu__link {
  padding: 10px 15px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border-radius: 10px;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);
}

