body {
  margin: 0;
  min-width: 1440px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #fff;
  background-image:
      repeating-linear-gradient(45deg, rgba(150, 146, 146, 0.5) 1px,
       rgba(150, 146, 146, 0.829) 20px),
      repeating-linear-gradient(-95deg, rgba(150, 146, 146, 0.5) 1px,
       rgba(150, 146, 146, 0.829) 20px);
}

.rainbow {
  background-image: 
      linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
       repeating-linear-gradient(45deg, rgba(150, 146, 146, 0.5) 1px,
         rgba(150, 146, 146, 0.829) 20px),
       repeating-linear-gradient(-95deg, rgba(150, 146, 146, 0.5) 1px,
         rgba(150, 146, 146, 0.829) 20px);
}

.header, .footer {
  min-height: 50px;
  padding: 10px;
}

nav {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.logo:hover {
  color: #fff;
}

.logo:active {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid rgb(150, 146, 146) ;
  font: inherit;
  font-size: 12px;
  font-weight: bold;
  color: rgb(150, 146, 146);
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgb(150, 146, 146);
  border: 2px solid #fff;
  color: #fff;
}

.btn:active {
  opacity: 0.7;
}

.main {
  text-align: center;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 40px;
  align-items: end;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  column-gap: 20px;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px 5px;
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.image {
  width: 300px;
}

.image--big {
  width: 400px;
}

.first-row {
  justify-items: end;
}

.second-row {
  justify-items: start;
}

.third-row {
  justify-items: center;
}

.odd {
  background-color: rgba(135, 250, 206, 0.5);
}
.even {
  background-color: rgba(152, 242, 248, 0.5);
}

.footer {
  text-align: center;
}

.copy {
  font-weight: bold;
}
